/* Mobile first design */
* {
    box-sizing: border-box;
    font-family: times new roman;
}

body {
    padding: 0;
    margin: 0;
    background-color:#333;
}

header {
    width: 100vw;
    height: 100vh;
    background-color:#333;
}

#PacificRhododendron {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-image: url("Pacific-Rhododendron-1.jpeg");
    background-size: cover;
    background-position: center center;
}

#PacificRhododendronTitle{
    position: absolute;
    width: 100vw;
    height: 100vh;
}

#PacificRhododendronTitle h1 {
    position: absolute;
    bottom: 0;
    left: 1em;
    color: white;
    width: calc(100vw - 2em);
    font-size: 3em
}

/* Rest of the Mobile baseline layout here */

@media screen and (orientation: landscape) {

    #PacificRhododendron {
        width: 50vw;
        
    }
    #PacificRhododendronTitle {
        width: 50vw;
        left: 50vw;
        background-color: #333
    }
    #PacificRhododendronTitle h1{
        width: 45vw;
        
    }

    /* Rest of the desktop baseline layout here*/

}